.nav {
	padding-right: 3%;
	background-color: #fff;
}
.logo {
	border-radius: 50px;
}
.titulo {
	margin-bottom: 0px;
	color: midnightblue;
	font-weight: bold;
}
.btn-menu {
	color: midnightblue;
}
.categoria {
	margin-top: 1px;
	margin-right: 50px;
	color: midnightblue;
	font-size: 20px;
}
